button {
  border: 4px solid black;
  font-size: 24px;
}

#game-background {
  background-image: url("./Images/booback.jpg");
}

#cover {
  text-align: center;
  background-size: cover;                      
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("./Images/Wiki-background.jpg");
}

#game-board {
  margin-top: 30px;
}

.leftside {
  padding: 180px 20px;
}

.lefttext {
  padding-top: 90px;
  font-weight: bold;
  font-size: 25px;
}

.gameTitle {
  font-size: 80px;
  padding-top: 100px;
}

.textindex {
  font-size: 20px;
  padding: 8px 0;
}

.startbtn {
  font-size: 35px;
  text-decoration: none;
  background-color: #31D97D;
  color: black;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.button1 {
  padding: 5px;
  background:#31D97D;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 25px;
}

i {
  padding: 4px;
}